body {
  margin: 0;
  padding: 0;

  background: #f2f2f2;

  text-rendering: optimizeLegibility;

  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.container {
  border-top: 3px solid blue;
  max-width: 800px;
  margin: 0 auto;
}

.iWin {
  animation-name: i-win;
  animation-duration: 0.5s;
}

@keyframes i-win {
  0% {
    position: absolute;
    left: 0;
  }
  100% {
    left: 50%;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  background: #fff;
}

.image {
  width: 100%;
  border: 3px solid black;
  border-radius: 150px;
}

.question > .text {
  font-weight: bold;
}

li {
  list-style-type: none;

  margin: 5px 0;
}
