body {
  margin: 0;
  padding: 0;

  background: #f2f2f2;

  text-rendering: optimizeLegibility;

  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.container {
  border-top: 3px solid #ff5500;
  max-width: 800px;
  margin: 0 auto;
}

.iWin {
  animation: rotate
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    margin-left: 0;
  }
  100% {
    transform: rotate(360deg);
    margin-left: 50%;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.question {
  margin: 20px 0;
  padding: 20px;
  background: #fff;
}

.resolution {
  margin: 0 0 20px 0;
  padding: 20px;
  background: #f0ffe8;
}

.question > .text {
  font-weight: bold;
}

li {
  list-style-type: none;

  margin: 5px 0;
}

.question input[type=text],
.question input[type=email] {
  width: 400px;
}